#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  padding: 1rem $horiz-padding 0;
  text-align: left;

    .creative-links-container {
      display: flex;
      border: 1px solid black;
      justify-content: flex-end;

      .creative-link {
        padding: 20px;
      }
    }
}
