#footer {
    border-top: 1px solid $purple-grey;
    color: $purple-grey;
    padding: 1rem $horiz-padding 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;

    p.copyright {
        width: 50%;
    }

    .creative-links-container {
        display: flex;
        align-self: flex-end;

        .creative-link {
            padding-left: 20px;
        }
    }
}
