$washed-out-caramel: #fff1e6;
$peachy-orange: #e4b28f;
$orange: #ed9c68;
$light-green: #ccd5ae;

html {
    background-color: $washed-out-caramel;
}

.header-fixed section#body-wrapper {
    display: flex;
    background-color: $washed-out-caramel;
    padding-bottom: 2rem;

    .container {
        padding: 0;

        @include breakpoint(sm) {
            padding: 2rem 0;
        }

    }

    @include breakpoint(sm) {
        flex-direction: column;
    }
}

section.aboutme {
    min-height: 400px;
    height: 80%;
    min-width: 200px;
    padding: 20px;
    padding-top: 0;
    max-width: 35%;
    background: darken($peachy-orange, 2%);
    border-radius: 0.1rem;
    text-align: center;

    a,
    a:visited {
        color: white;
    }

    h1 {
        font-size: 2.2rem;
        margin-top: 1rem;
        clear: both;

        @include breakpoint(md) {
            font-size: 3em;
        }
    }

    p {
        width: 88%;
        margin: auto;
        text-align: left;
        padding-bottom: 20px;
        color: darken($purple-grey, 18%);
    }

    @include breakpoint(md) {
        max-width: 50%;
    }

    @include breakpoint(sm) {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .mypic-container {
        height: 300px;
        border: 2px solid $light-green;
        margin: 4% auto 0 auto;
        border-radius: 0.1rem;
        background-image: url('../images/LaurasPortrait2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;

        @include breakpoint(sm) {
            float: none;
            display: block;
            margin: 6% auto 0 auto;
        }

        @include breakpoint(md) {
            margin: 8% auto 0 auto;
        }
    }
}

.blog-listing .bricklayer-column {
    padding-left: 25px;
    padding-right: 0;

    @include breakpoint(sm) {
        padding-left: 0;
    }
}

.blog-items.container.grid-lg {
    max-width: 100%;
}

section.navbar-container {
    max-width: 100%;
}

.mobile-menu .button_container span {
    height: 3px;
}
