html {
  background-color: #fff1e6;
}

section#body-wrapper {
    display: flex;
    background-color: #fff1e6;

  .container {
    padding: 0;

    @include breakpoint(sm) {
      padding: 2rem 0;
    }

  }

  @include breakpoint(sm) {
    flex-direction: column;
  }
}

section.aboutme {
  min-height: 400px;
  min-width: 200px;
  padding: 20px;
  padding-top: 0;
  max-width: 35%;

  h1 {
    clear: both;

    @include breakpoint(md) {
      font-size: 3em;
    }
  }

  @include breakpoint(md) {
    max-width: 50%;
  }

  @include breakpoint(sm) {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .mypic-container {
    float: left;
    width: 200px;
    height: 250px;
    border: 2px solid #ccd5ae;
    margin: 15px;
    border-radius: 0.1rem;
    background-image: url('../images/MY.PORTRAIT.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;

    @include breakpoint(sm) {
      float: none;
      display: block;
      margin: auto;
    }
  }
}

.blog-listing .bricklayer-column {
  padding-left: 25px;
  padding-right: 0;

  @include breakpoint(sm) {
    padding-left: 0;
  }
}

.blog-items.container.grid-lg {
  max-width: 100%;
  h5.p-name a {
    color: #ed9c68;
  }
}

section.navbar-container {
  max-width: 100%;
}
