@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Lato:ital,wght@0,400;0,900;1,400&display=swap');

$title-font-family: 'Asul', sans-serif;
$base-font-family: 'Lato',  sans-serif;

html, body {
  font-family: $base-font-family;
}

$purple-grey: #60495a;
$dark-grey: #231f20;
$body-font-color: $purple-grey;
