@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Lato:ital,wght@0,400;0,900;1,400&display=swap');

$title-font-family: 'Asul', sans-serif;
$base-font-family: 'Lato',  sans-serif;

html {
  font-family: $base-font-family;
}
