<section id="footer" class="section">
        <p class="copyright">&copy; Laura Kurtzberg 2022</p>

        <div class="creative-links-container">
          <p class="creative-link">
              <a href="https://observablehq.com/@laurakurtzberg">Observable</a>
          </p>
          <p class="creative-link">
              <a href="https://glitch.com/@laura.kurtzberg">Glitch</a>
          </p>
          <p class="creative-link">
              <a href="https://github.com/laurakurtzberg">Github</a>
          </p>
          <p class="creative-link">
              <a href="https://twitter.com/laurakurtzberg">Twitter</a>
          </p>
        </div>
</section>
