<section id="footer" class="section">
        <p class="copyright">&copy; Laura Kurtzberg 2022</p>

        <div class="creative-links-container">
          <p class="creative-link">Observable</p>
          <p class="creative-link">Glitch</p>
          <p class="creative-link">Github</p>
          <p class="creative-link">Twitter</p>
        </div>
</section>
